.secondnavbarcolor {
    background-color: rgb(231, 146, 48);
    position: fixed;
    z-index: 1;
    transition: 1s;
    width: 100%;
    text-decoration: none;
    box-shadow: brown;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.titlecard {
    font-size: 30px;
    color: orangered;
}

.formcolor {
    background-color: rgb(235, 183, 134);
}

.iconsbar {
    font-size: 40px;
    color: rgb(105, 105, 236);
}

.cardshadow {
    box-shadow: chocolate;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}